/* Variáveis de cores padrão */
:root {
    --cor-fundo-body: linear-gradient(to bottom, #c8f8d4, rgb(25, 83, 54));
    --cor-fundo-saudacao: #333;
    --cor-texto-saudacao: #fff;
    --cor-fundo-botao-hover: #007bff;
    --cor-fundo-header: linear-gradient(to bottom, #84f3a0, #23553d);
    --cor-texto-header: #fff;
    --cor-fundo-main: aliceblue;
    --cor-texto-main: black;
    --cor-fundo-iframe: #035016;
    --cor-fundo-lista: rgba(255, 255, 255, 0.404);
    --cor-texto-lista: #000; /* Cor do texto da lista */
    --cor-fundo-footer: rgb(25, 83, 54);
    --cor-texto-footer: #fff;
}

/* Variáveis de fontes */
:root {
    --fonte-body: 'Courier New', Courier, monospace;
}

/* Media query para esquema de cores escuro
@media (prefers-color-scheme: dark) {
    :root {
        --cor-fundo-saudacao: #ffffff;
        --cor-texto-saudacao: #fff;
        --cor-fundo-main: #025316;
        --cor-fundo-body: linear-gradient(to bottom, #025316, rgb(202, 235, 218));
    }
} */

/* Resto do seu CSS usando as variáveis */
/* ... */


/* Variáveis de fontes */
:root {
    --fonte-body: 'Courier New', Courier, monospace;
}



@media (max-width: 768px) {
    
    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background: var(--cor-fundo-body);
        text-align: center;
        font-family: var(--fonte-body);
    }
    h3 {
        display: flex;
        padding-left: 10px;
        align-items: center;
        font-size: 28px;
        width: 20%;
        border-radius: 8px;
        color: var(--cor-texto-saudacao);
        background: linear-gradient(to left, aliceblue, rgb(25, 83, 54));
        margin: 30px;
    }
    img {
        border-radius: 18px;
        margin: 20px;
        width: 100%;
    }

}


/* Estilos globais */
* {
    padding: 0;
    margin: 0;
}
@media (min-width: 768px) {
/* Estilos para o corpo da página */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--cor-fundo-body);
    text-align: center;
    font-family: var(--fonte-body);
}

/* Estilos para o botão (hover) */
button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Estilos para o cabeçalho */
h3 {
    display: flex;
    padding-left: 10px;
    align-items: center;
    font-size: 28px;
    width: 90%;
    border-radius: 8px;
    color: var(--cor-texto-saudacao);
    background: linear-gradient(to left, aliceblue, rgb(25, 83, 54));
    margin: 30px;
}

/* Estilos para texto forte */
strong {
    color: var(--cor-fundo-header);
}

/* Estilos para imagens */
img {
    border-radius: 18px;
    margin: 20px;
}

/* Estilos para iframes */
iframe {
    border-radius: 8px;
    margin: 10px;
}

/* Estilos para parágrafos */
p {
    margin: 30px;
    text-align: justify;
}

/* Estilos para o cabeçalho da seção */
.header {
    display: flex;
    flex-direction: column;
    color: var(--cor-texto-header);
    background: var(--cor-fundo-header);
    width: 100%;
    height: 50%;
}

/* Estilos para a navegação */
.nav {
    display: flex;
    justify-content: start;
    color: var(--cor-texto-header);
    margin-left: 20px;
    margin-top: 10px;
    gap: 10px;
    flex-direction: row;
}

.nav button {
    color: var(--cor-texto-header);
    border: none;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0);
}

/* Estilos para a seção principal */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-fundo-main);
    color: var(--cor-texto-main);
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

/* Estilos para o iframe */
.iframeStyle {
    width: 100%;
    background-color: var(--cor-fundo-iframe);
}

/* Estilos para a primeira lista */
sectionC ul1 {
    display: flex;
    text-align: start;
    justify-content: start;
    padding: 5px;
    background-color: var(--cor-fundo-lista);
    border-radius: 15px;
    font-weight: bold;
    flex-direction: column;
    list-style-image: url(/imagens/favicon.ico);
}

/* Estilos para a segunda lista */
sectionC ul2 {
    display: flex;
    font-weight: bold;
    padding: 5px;
    text-align: start;
    flex-direction: column;
    background-color: var(--cor-fundo-lista);
    border-radius: 15px;
    list-style-image: url(/imagens/favicon.ico);
}

/* Estilos para a lista */
.lista {
    display: flex;
    flex-direction: row;
    gap: 22rem;
}

/* Estilos para a seção C */
sectionC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 480px;
    font-weight: bold;
    border-radius: 18px;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/ac/86/b5/ac86b5bffc63d263edcd3b97f4105dbd.gif");
    background-position: center;
    background-position-y: 20px;
    background-size: cover;
    color: var(--cor-texto-saudacao);
}

sectionC p {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    background-color: var(--cor-fundo-lista);
    border-radius: 8px;
    padding: 5px;
    width: 80%;
}

/* Estilos para a seção D */
sectionD {
    margin: 10px;
}

h1 {
    font-size: 38px;
    margin: 20px;
    font-weight: bold;
}

/* Estilos para o rodapé */
footer {
    display: flex;
    width: 100%;
    color: var(--cor-texto-footer);
    text-align: center;
    padding: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: var(--cor-fundo-footer);
    justify-content: center;
    align-items: center;
}

footer img {
    width: 50px;
    height: 50px;
}
}